<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="${CUSTOM_MODULE_NAME}">
    <resources>
        <resource-root path="${JDBC_ARTIFACT}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>